.homeBackgroundContainer{
    align-items: center;
    box-shadow: none !important;

    background: linear-gradient(46deg, #9587e5, #57bbc5, #879ee8, #5db1b9);
    background-size: 800% 800%;

    -webkit-animation: gradientBackground 15s ease infinite;
    -moz-animation: gradientBackground 15s ease infinite;
    animation: gradientBackground 15s ease infinite;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes gradientBackground {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@-moz-keyframes gradientBackground {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@keyframes gradientBackground {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}